.header {
    grid-area: h;
    background-color: Khaki;
}

.header img {
    padding: 5px;
    width: 50px;   
}

.loginBlock {
    padding: 10px;
    float: right;
}

.loginBlock a {
    color: white;
}