.header {
    grid-area: h;
    background-color: Khaki;
}

.header img {
    padding: 20px;
    width: 80px;   
}

.loginBlock {
    padding: 15px;
    float: right;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}